body {
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  margin-top: 200px;
  justify-self: center;
  height: 8%;
  display: flex;
}

input {
  width: 80%;
  height: 30%;
  font-size: 30px;
}

button {
  height: 36%;
  width: 100px;
}

table {
  width: 70%;
  height: 40%;
}

th {
  border: 1px solid black;
  height: 5%;
  padding: 10px;
  background-color: aquamarine;
}

tr :nth-child(0) {
  border-right: 1px solid black;
}

tr :nth-child(1) {
  border-right: 1px solid black;
}

tr :nth-child(2) {
  border-right: 1px solid black;
}

table {
  border: 1px solid black;
}

td {
  text-align: center;
  transition: 0.6s;
}

tr:hover {
  text-align: center;
  background-color: aquamarine;
}

table tr:nth-child(even) {
  background-color: pink;
  color: white;
  transition: all 0.6s;
}

table tr:nth-child(even):hover {
  background-color: aquamarine;
}
